# root .gitignore - covers backend + frontend

# general
.DS_Store
.vscode/
.idea/
*.log
**/package-lock.json
**/package.json

# sam env (file bạn không muốn push)
**/sam-env
# hoặc nếu ở root cố định: /sam-env

# backend (AWS SAM, Python)
**/.aws-sam/
**/.venv/
**/__pycache__/
**/*.pyc

# frontend (Node)
**/node_modules/
**/build/
**/dist/
**/.next/
**/.cache/
.kiro

# optional: ignore any node_modules anywhere
**/node_modules/
